<!-- card -->
{% liquid
  assign collection_title = collection.metafields.display.collection_title | default: collection.title
  assign lowest_price = blank
  for product in collection.products
    assign product_price = product.price_min
    if lowest_price == blank or product_price < lowest_price
      assign lowest_price = product_price
    endif
  endfor

  assign colour_match = pages['colour-matching-service']
%}
<style>
  .videos-list__item.grid__item {
    min-width: 300px;
    display: flex;
    flex-direction: column;
  }

  .videos-list__item {
    min-width: 300px;
  }

  .collection-modal-card {
    border: 1px solid;
    margin-top: 1rem;
    flex: 1;
  }

  .collection-modal-card .grid {
    flex-wrap: nowrap;
    height: 100%;
  }

  .collection-modal-card__image-wrapper {
    width: 40%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .collection-modal-card__image-wrapper img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    display: block;
  }

  .collection-modal-card__text-wrapper {
    padding: 1.5rem;
    flex-grow: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .text-wrapper__top {
    margin-bottom: 1rem;
  }

  .collection-title {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.2em;
    margin-bottom: 1rem;
  }

  .collection-cta.button {
    font-size: 1rem;
    line-height: 1.2em;
    padding: 0 1rem;
    width: 100%;
    min-height: 3rem;
    box-sizing: border-box;
    min-width: unset;
  }

  .collection-base-price {
    margin: 0px;
    font-size: 1.4rem;
    line-height: 1.2em;
  }

  @media screen and (max-width: 350px) {
    .videos-list__item.grid__item {
      min-width: calc(100% - 5rem);
    }

    .collection-title {
      font-size: 1rem;
    }

    .collection-base-price {
      font-size: 1.2rem;
    }

    .collection-modal-card__text-wrapper {
      padding: 0.5rem;
    }
  }
</style>

{%- capture sizes -%}
	(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px)
	calc(100vw - 10rem), 100vw
{%- endcapture -%}

<div class="collection-modal-card">
  <div class="grid grid--gapless">
    <div class="collection-modal-card__image-wrapper">
      {{
        image
        | image_url: width: image.width
        | image_tag:
          loading: 'lazy',
          sizes: sizes,
          widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
          alt: image.alt
      }}
    </div>
    <div class="collection-modal-card__text-wrapper">
      <div class="text-wrapper__top">
        <p class="collection-title">{{ collection_title }}</p>

        <p class="collection-base-price">From {{ lowest_price | money }}</p>
      </div>
      <modal-opener
        data-modal="#PopupModal-{{ collection_title | handle }}"
        {{ block.shopify_attributes }}
      >
        <button
          class="collection-cta button no-js-hidden"
          id="CollectionPopup-{{ collection_title | handle }}"
          type="button"
          title="Select Length & Shade"
          aria-haspopup="dialog"
        >
          Select Length & Shade
        </button>
      </modal-opener>
      <noscript><a href="{{ collection.url }}" class="collection-cta button js-hidden">View Collection</a></noscript>
    </div>
  </div>
</div>

<!-- modal -->
<style>
  .collection-popup-modal {
    box-sizing: border-box;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    z-index: -1;
    margin: 0 auto;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    background: rgba(var(--color-foreground), 0.2);
    height: 100%;
  }

  .collection-popup-modal[open] {
    visibility: visible;
    opacity: 1;
    z-index: 101;
  }

  .collection-popup-modal__dialog {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .collection-popup-modal__content {
    border-radius: var(--popup-corner-radius);
    background-color: rgb(var(--color-background));
    overflow: auto;
    height: fit-content;
    max-height: calc(100% - 3rem);
    margin: 0 auto;
    padding: 0 1.5rem 1.5rem;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: calc(100% - 3rem);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
    border-style: solid;
    border-width: var(--popup-border-width);
    box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset)
      var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
  }

  .collection-popup-modal__toggle {
    background-color: rgb(var(--color-background));
    border: 0.1rem solid rgba(var(--color-foreground), 0.1);
    border-radius: 50%;
    color: rgba(var(--color-foreground), 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: sticky;
    padding: 1.2rem;
    z-index: 2;
    top: 1.5rem;
    width: 4rem;
    margin: 0 0 0 auto;
  }

  .collection-popup-modal__toggle .icon {
    height: auto;
    margin: 0;
    width: 2.2rem;
  }

  @media screen and (min-width: 750px) {
    .collection-popup-modal__content {
      max-width: min(calc(100% - 10rem), 750px);
    }
  }

  .image-content {
    width: 100%;
  }

  .image-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
  }

  @media screen and (min-width: 750px) {
    .image-content {
      width: 40%;
    }
  }

  .text-content {
    flex: 1;
  }

  .text-content__title {
    margin-top: 0;
  }

  .content-info__option-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  .content-info__option-group label {
    flex-shrink: 0;
  }

  .content-info__option-group .select {
    display: flex;
    position: relative;
    flex-grow: 1;
    min-width: fit-content;
    width: unset;
  }

  .content-info__option-group + .content-info__option-group {
    margin-top: 1.5rem;
  }

  .content-info__ctas {
    margin-top: 3rem;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .content-info__ctas .button {
    min-width: fit-content;
    flex: 1;
  }
</style>

<collection-modal
  id="PopupModal-{{ collection_title | handle }}"
  class="collection-popup-modal"
  data-collection-handle="{{ collection.handle }}"
>
  <div
    role="dialog"
    aria-label="Select Length & Shade Modal for {{ collection_title }}"
    aria-modal="true"
    class="collection-popup-modal__content"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ collection_title | handle }}"
      type="button"
      class="collection-popup-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {% render 'icon-close' %}
    </button>
    <div class="collection-popup-modal__content-info">
      <div class="grid">
        <div class="grid__content image-content">
          {{
            image
            | image_url: width: image.width
            | image_tag:
              loading: 'lazy',
              sizes: sizes,
              widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
              alt: image.alt
          }}
        </div>
        <div class="grid__content text-content">
          <p class="h2 text-content__title">{{ collection_title }}</p>
          <div class="content-info__options">
            <div class="content-info__option-group" data-filter-type="length">
              <label class="h3 label">Length</label>
              <div class="select">
                <select class="select__select">
                  <option default>Select an option</option>
                </select>
                <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                  </path>
                </svg>
              </div>
            </div>
            <div class="content-info__option-group" data-filter-type="colour-group">
              <label class="h3 label">Shade</label>
              <div class="select">
                <select class="select__select">
                  <option default>Select an option</option>
                </select>
                <svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                  </path>
                </svg>
              </div>
            </div>
          </div>
          <div class="content-info__ctas">
            <a id="view-all-button" class="button" href="{{ collection.url }}">View All</a>
            <a class="button" href="{{ colour_match.url }}">Colour Match</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</collection-modal>
